.modal {
    position: relative;
    background-color: #1c1c21;
    width: 720px;
    box-sizing: border-box;
    border-radius: 40px;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 60px;
    margin-right: 40px;
    cursor: pointer;
}