.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: inline-block;
    line-height: 64px;
}

.nutrition__container {
    width: 520px;
    display: flex;
    justify-content: space-between;
}

.nutrition__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 480px;
    height: 240px;
}